{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

launchctl list com.1password.SSH_AUTH_SOCK >/dev/null 2>&1 && launchctl remove com.1password.SSH_AUTH_SOCK
launchctl load -w "$HOME/Library/LaunchAgents/com.1password.SSH_AUTH_SOCK.plist"
{{ end -}}
