#!/bin/bash
# chezmoi:template:left-delimiter="#{{" right-delimiter="}}"
set -eufo pipefail

#{{ template "homebrew" . }}

if [ ! "$(command -v brew)" ]; then
  echo "Install homebrew first! See: https://brew.sh"
  exit
fi

brew bundle --file=/dev/stdin <<EOF
#{{- range .packages.brews }}
brew #{{ . | quote }}
#{{- end }}

tap "teamookla/speedtest", trusted: true

brew "bottom"
brew "dive"
brew "fnm"
brew "gnupg"
brew "hr"
brew "htop"
brew "httpie"
brew "mas"
brew "p7zip"
brew "pinentry-mac"
brew "rename"
brew "svn"
brew "teamookla/speedtest/speedtest", trusted: true
brew "uv"
brew "wget"
brew "xz"
brew "zsh"

#{{- range .packages.casks }}
cask #{{ . | quote }}
#{{- end }}

cask "1password"
cask "appcleaner"
cask "bettermouse"
cask "claude"
cask "contexts"
cask "displaperture"
cask "firefox"
cask "google-chrome"
cask "iterm2"
cask "keyboard-cleaner"
cask "raycast"
cask "rectangle"
cask "spotify"
cask "visual-studio-code"

#{{- if ge .macOS 26 }}
cask "thaw@beta"
#{{- else }}
cask "thaw" # 1.3.0 once 2.0 is released
#{{- end }}

#{{- if .work }}
cask "slack"
#{{- else }}
cask "discord"
#{{- end }}

# Fonts
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"

# Music
# cask "kid3"
# cask "xld"

# Install Mac App Store Applications
mas "1Password for Safari", id: 1569813296
mas "AdGuard for Safari", id: 1440147259
mas "Amphetamine", id: 937984704
mas "Keyword Search", id: 1558453954
#{{- if ge .macOS 26 }}
mas "Parcel", id: 375589283
#{{- else }}
mas "Parcel Classic", id: 639968404
#{{- end }}
#{{- if not .work }}
mas "Velja", id: 1607635845
mas "WireGuard", id: 1451685025
#{{- end }}
EOF
