# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if lookPath "aws_completer" }}
function __aws_completer
    set -lx COMP_SHELL fish
    set -lx COMP_LINE (commandline -cp)
    aws_completer | tr -d ' '
end

complete -c aws -f -a "(__aws_completer)"
# {{- end }}
