# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if lookPath "docker" -}}
# {{- $dockerCompletion := output "sh" "-c" "docker completion fish 2>/dev/null || true" -}}
# {{- if $dockerCompletion -}}
# {{- $dockerCompletion -}}
# {{- end -}}
# {{- end -}}
