. "$(Split-Path $PROFILE)\fnm.ps1"
. "$(Split-Path $PROFILE)\git.ps1"
. "$(Split-Path $PROFILE)\PSReadLine.ps1"
Import-Module -Name Microsoft.WinGet.CommandNotFound

function Edit {
  $codeArgs = $args
  if ($args.Length -eq 0 -or (-not (Test-Path $args[-1]))) {
    $codeArgs += "."
  }

  code $codeArgs
}

New-Alias -Name c -Value "clear"
function Set-Location-Dotfiles { Set-Location {{ .chezmoi.workingTree | quote }} }
New-Alias -Name cdf -Value "Set-Location-Dotfiles"
New-Alias -Name chez -Value "chezmoi"
New-Alias -Name e -Value "Edit"
function Edit-Add { Edit --add $args }
New-Alias -Name ea -Value "Edit-Add"
function Edit-Dotfiles { Set-Location {{ .chezmoi.workingTree | quote }} && code . }
New-Alias -Name edf -Value "Edit-Dotfiles"

if (Get-Command starship -ErrorAction SilentlyContinue) {
  function Invoke-Starship-TransientFunction {
    &starship module character
  }
  Invoke-Expression (&starship init powershell)
  Enable-TransientPrompt
}
