[user]
  name = "Griffin Yourick"
  email = "gryphon92@gmail.com"

[alias]
  # commonly used git functions
  a = "add -A"
  b = "branch --verbose --verbose"
  ba = "branch --all --verbose --verbose"
  c = "commit --message"
  ci = "commit"
  co = "checkout"
  cob = "checkout -b"
  d = "diff"
  dc = "diff --cached"
  f = "fetch"
  fa = "fetch --all --verbose --prune"
  h = "hash"
  l = "log --graph"
  p = "push"
  pl = "pull"
  pu = "push --set-upstream"
  r = "remote --verbose"
  s = "status --short"
  sh = "show"
  st = "status"
  u = "up"

  # new functionality
  amend = "commit --amend"                # amend your last commit
  hash = "log -n 1 --pretty=format:'%h'"  # print the most recent commit's hash
  uncommit = "reset --soft HEAD^"         # go back before last commit

[branch]
  autosetuprebase = always

[color]
  ui = true
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  commit = green bold
  frag = magenta bold
  meta = yellow bold
  new = green bold
  old = red bold
  whitespace = red reverse
[color "diff-higlight"]
  newHighlight = "green 52"
  newNormal = green
  oldHighlight = "red 52"
  oldNormal = red
[color "status"]
  added = green bold
  changed = yellow bold
  branch = green bold
  unmerged = red bold
  untracked = magenta bold

[core]
  autocrlf = input
  editor = atom --wait
  excludesfile = ~/.gitignore

[diff]
  mnemonicprefix = true

[format]
  pretty = "%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr)%C(reset) %C(bold blue)<%an>%C(reset)"

[pager]
  diff = diff-so-fancy | less
  show = diff-so-fancy | less

[push]
  default = current

[url "https://github.com/"]
  insteadOf = git://github.com/
  insteadOf = git@github.com:
  insteadOf = ssh://git@github.com:

[url "https://git.heroku.com/"]
  insteadOf = git://heroku.com/
  insteadOf = git@heroku.com:
  insteadOf = ssh://git@heroku.com:

# plugins and etc
[credential]
  helper = osxkeychain

[git-up "bundler"]
  check = true

[heroku]
  account = personal

[hub]
  protocol = https

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
