[alias]
  # commonly used git functions
  a = "add -A"
  b = "branch --verbose --verbose"
  ba = "branch --all --verbose --verbose"
  br = "browse"
  browse = "!gh browse"
  c = "commit --message"
  ci = "commit"
  co = "checkout"
  cob = "checkout -b"
  cp = "cherry-pick"
  d = "diff"
  dc = "diff --cached"
  f = "fetch --verbose"
  fa = "fetch --all --verbose"
  ha = "hash"
  hac = "!git hash | pbcopy"
  l = "log"
  lb = "log --graph --branches"
  p = "push"
  pf = "push --force"
  pl = "pull"
  pu = "push --set-upstream"
  r = "remote --verbose"
  rb = "rebase"
  rbc = "rebase --continue"
  s = "status --short"
  sb = "show-branch"
  sh = "show"
  st = "status"
  sy = "sync"
  sync = "!gh repo sync"
  u = "up"

  # amend your last commit
  amend = "commit --amend --no-edit"

  # print the most recent commit's hash
  hash = "!git rev-parse --short HEAD | tr -d '\n'"

  # go back before last commit
  uncommit = "reset --soft HEAD^"

  # this is basically what `git-up` did
  up = "pull --rebase --autostash"

[branch]
  autoSetupRebase = always

[color]
  ui = true
[color "branch"]
  current = green bold
  local = green
  remote = yellow
[color "diff"]
  commit = green bold
  frag = magenta bold
  meta = yellow bold
  new = green bold
  old = red bold
  whitespace = red reverse
[color "diff-higlight"]
  newHighlight = green bold 52
  newNormal = green bold
  oldHighlight = red bold 52
  oldNormal = red bold
[color "status"]
  added = green bold
  changed = yellow bold
  branch = green bold
  unmerged = red bold
  untracked = magenta bold

[commit]
  gpgSign = true

[core]
  autocrlf = input
  editor = vim
  ignoreCase = false
  pager = delta
  precomposeUnicode = true
  trustctime = false
  untrackedCache = true

[diff]
  compactionHeuristic = true # let's give it a try!
  mnemonicPrefix = true
  renames = copies

[diff "bin"]
  textconv = hexdump -v -C

[fetch]
  prune = true
  pruneTags = true

[format]
  pretty = "%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr)%C(reset) %C(bold blue)<%an>%C(reset)"

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[pull]
  rebase = true

[push]
  default = simple
  followTags = true

[submodule]
  recurse = true

[tag]
  gpgSign = true

# plugins and etc
[delta]
  minus-style = bold red "#3f0001"
  minus-non-emph-style = bold red "#3f0001"
  minus-emph-style = bold red 52
  minus-empty-line-marker-style = normal "#3f0001"
  plus-style = bold green "#002800"
  plus-non-emph-style = bold green "#002800"
  plus-emph-style = bold green 22
  plus-empty-line-marker-style  = normal "#002800"
  syntax-theme = TwoDark

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  smudge = git-lfs smudge -- %f

[include]
  path = ~/.gitconfig.personal
