# This file contains configs that don't warrant their own entry in conf.d
set -gx FORCE_COLOR 1
set -gx GPG_TTY $(tty)
set -gx LANG "en_US.UTF-8"
set -gx LC_ALL "en_US.UTF-8"
set -gx LESS "-F -g -i -M -R -S -w -X -z-4"

fish_add_path -gP "$HOME/.local/bin"

abbralias c clear
abbralias cdf "cd {{ .chezmoi.workingTree }}"
abbralias chez chezmoi
abbralias dog doggo
abbralias e edit
abbralias ea "edit --add"
abbralias edf "cd {{ .chezmoi.workingTree }} && edit ."
abbralias o open
abbralias tree "tree -aC --dirsfirst"
abbralias psa "ps aux"
abbralias where "type -a"

if command -sq starship
    function starship_transient_prompt_func
        starship module character
    end

    starship init fish | source
    enable_transience
end
