abbralias ag rg # temporary so i remember
abbralias c clear
abbralias cdf "cd {{ .chezmoi.workingTree }}"
abbralias chez chezmoi
abbralias dog doggo
abbralias e edit
abbralias ea "edit --add"
abbralias edf "cd {{ .chezmoi.workingTree }} && edit ."
abbralias o open
abbralias tree "tree -aC --dirsfirst"
abbralias psa "ps aux"
abbralias where "type -a"

# this must come last
if command -sq starship
    function starship_transient_prompt_func
        starship module character
    end

    starship init fish | source
    enable_transience
end
