.aws
.config

.ssh/*
!.ssh/config

beets/*
!beets/config.yaml

fish/completions/*
!fish/completions/nodenv.fish
fish/conf.d/*
!fish/conf.d/00-env.fish
!fish/conf.d/brew.fish
!fish/conf.d/direnv.fish
!fish/conf.d/git.fish
!fish/conf.d/node.fish
!fish/conf.d/nodenv.fish
!fish/conf.d/rbenv.fish
!fish/conf.d/rust.fish
!fish/conf.d/smartdot.fish
fish/functions/*
!fish/functions/_smartdot.fish
!fish/functions/abbralias.fish
!fish/functions/each.fish
!fish/functions/edit.fish
!fish/functions/fish_greeting.fish
!fish/functions/fuck.fish
!fish/functions/gen-secret.fish
!fish/functions/mkcd.fish
!fish/functions/psg.fish
!fish/functions/set-device-name.fish
fish/fish_variables

git/.gitconfig.personal

js/node_modules/
js/.npmrc

LaunchAgents

.hgrc
*.UpdateDotfiles.log
*.UpdateDotfiles.plist
