.atom/*
!.atom/config.cson
!.atom/init.coffee
!.atom/keymap.cson
!.atom/package.list
!.atom/snippets.cson
!.atom/styles.less

.aws
.config
.ssh

beets/*
!beets/config.yaml

fish/completions/*
fish/conf.d/*
fish/functions/*
fish/fish_variables
!fish/completions/nodenv.fish
!fish/conf.d/___env.fish
!fish/conf.d/git.fish
!fish/conf.d/nodenv.fish
!fish/conf.d/python.fish
!fish/conf.d/rbenv.fish
!fish/conf.d/rust.fish

git/.gitconfig.personal

.hgrc
gyourick.UpdateDotfiles.plist
update.sh
