[submodule "prezto"]
	path = zsh/prezto
	url = git@github.com:tough-griff/prezto.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "iterm2/base16-iterm2"]
	path = iterm2/base16-iterm2
	url = git@github.com:chriskempson/base16-iterm2.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
