.aws
.config
.ssh

beets/*
!beets/config.yaml

fish/completions/*
!fish/completions/nodenv.fish
fish/conf.d/*
!fish/conf.d/___env.fish
!fish/conf.d/brew.fish
!fish/conf.d/direnv.fish
!fish/conf.d/git.fish
!fish/conf.d/node.fish
!fish/conf.d/nodenv.fish
!fish/conf.d/python.fish
!fish/conf.d/rbenv.fish
!fish/conf.d/rust.fish
fish/functions/*
!fish/functions/each.fish
!fish/functions/edit.fish
!fish/functions/mkcd.fish
!fish/functions/node.fish
!fish/functions/psg.fish
fish/fish_variables

git/.gitconfig.personal

js/node_modules/

.hgrc
griffin.UpdateDotfiles.plist
update.sh
