{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/iterm2
Library
{{- end }}

{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.hushlogin
{{- end }}

{{- if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.bash_profile
AppData
Documents
{{- else }}
.chezmoiscripts/chsh.sh
.chezmoiscripts/*.fish
.config/beets
.config/fish
.editorconfig
.psqlrc
.zshenv
.zshrc
{{- end }}

{{- if .ephemeral }}
.chezmoiscripts/gpg.sh
.chezmoiscripts/chsh.sh
.aws
.gnupg
.ssh
{{- end }}

{{- if not .work }}
.claude.personal/**
.claude.work/**
{{- end }}
