{{/* Defaults */}}
{{- $ephemeral := false -}}
{{- $headless := false -}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{/* Detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if (or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode")) -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if stdinIsATTY -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" $ephemeral -}}
{{-     $headless = promptBoolOnce . "headless" "headless" $headless -}}
{{-     $hostname = promptStringOnce . "hostname" "hostname" $hostname -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

data:
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  hostname: {{ $hostname | quote }}
  email: "gryphon92@gmail.com"

onepassword:
  mode: {{ promptChoice "1password mode?" (list "account" "connect" "service") }}
