allow-loopback-pinentry
enable-ssh-support
default-cache-ttl 86400
default-cache-ttl-ssh 86400
max-cache-ttl 86400
max-cache-ttl-ssh 86400
{{ if eq .chezmoi.os "darwin" -}}
pinentry-program {{ lookPath "pinentry-mac" }}
{{ else if eq .chezmoi.os "windows" -}}
pinentry-program {{ lookPath "pinentry-basic" | quote }}
{{ end -}}
