"*":
  "atom-fuzzy-grep": {}
  "autocomplete-plus": {}
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
  core:
    audioBeep: false
    disabledPackages: [
      "linter-eslint"
      "linter-rubocop"
      "linter"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "native-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "b79bad53-b233-cbe4-cb63-b6fc98f94d50"
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "fuzzy-finder":
    ignoredNames: [
      "vendor/cache"
    ]
  "git-diff": {}
  "grammar-selector": {}
  linter: {}
  "linter-eslint": {}
  "linter-rubocop": {}
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "8e7208e4b8bc82e2315cd4914081208b721197de"
  minimap:
    absoluteMode: true
    adjustMinimapWidthToSoftWrap: false
    displayPluginsControls: false
    minimapScrollIndicator: false
    plugins:
      "find-and-replace": true
  "one-dark-ui":
    layoutMode: "Compact"
  react: {}
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".makefile.source":
  editor:
    tabLength: 4
