"*":
  "atom-ide-ui":
    hyperclick:
      darwinTriggerKeys: "altKey"
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.css.less": [
        "overrides"
        "variables"
      ]
    disabledPackages: [
      "ide-flow"
      "ide-typescript"
      "linter"
      "linter-ui-default"
      "whitespace"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "b79bad53-b233-cbe4-cb63-b6fc98f94d50"
  "file-icons":
    defaultIconClass: "text-icon"
    strategies:
      grammar: false
      modelines: false
  "fuzzy-finder":
    ignoredNames: [
      "vendor/cache"
    ]
  "hey-pane":
    expandedWidth: 70
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "8e7208e4b8bc82e2315cd4914081208b721197de"
  minimap:
    absoluteMode: true
    disablePythonDocLinks: true
    displayPluginsControls: false
    minimapScrollIndicator: false
    plugins:
      "find-and-replace": true
  pigments:
    markerType: "native-square-dot"
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
    prettierOptions:
      singleQuote: true
      trailingComma: "es5"
    useEslint: true
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".makefile.source":
  editor:
    tabLength: 4
