"*":
  "autocomplete-plus": {}
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
  core:
    audioBeep: false
    closeEmptyWindows: false
    customFileTypes:
      "source.css.less": [
        "overrides"
        "variables"
      ]
    disabledPackages: [
      "linter-haml"
      "linter-rubocop"
      "linter-scss-lint"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    titleBar: "custom"
  docblockr: {}
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "b79bad53-b233-cbe4-cb63-b6fc98f94d50"
  "file-icons":
    defaultIconClass: "text-icon"
  "fuzzy-finder":
    ignoredNames: [
      "vendor/cache"
    ]
  "git-diff": {}
  "grammar-selector": {}
  "hey-pane":
    expandedWidth: 70
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  metrics:
    userId: "8e7208e4b8bc82e2315cd4914081208b721197de"
  minimap:
    absoluteMode: true
    disablePythonDocLinks: true
    displayPluginsControls: false
    minimapScrollIndicator: false
    plugins:
      "find-and-replace": true
  "minimap-git-diff": {}
  "minimap-linter": {}
  "one-dark-ui": {}
  "one-light-ui": {}
  "pdf-view": {}
  pigments:
    markerType: "square-dot"
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "travis-ci-status": {}
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".makefile.source":
  editor:
    tabLength: 4
