atom-text-editor::shadow {
  // Color modified and added line numbers.
  .gutter .line-number {
    &.git-line-added {
      color: @syntax-color-added;
    }

    &.git-line-modified {
      color: @syntax-color-modified;
    }
  }

  // Syntax overrides.
  // JS
  .source.js {
    .keyword.operator {
      &.accessor,
      &.assignment,
      &.comparison,
      &.logical,
      &.relational {
        color: @mono-1;
      }
    }

    .punctuation.quasi.element {
      color: @hue-5-2;
    }

    .variable.readwrite {
      color: @mono-1;
    }
  }

  // Hide the scrollbar, we're using minimap (again)
  .vertical-scrollbar {
    opacity: 0;
    width: 0 !important;
  }
}

// File-icon overrides.
@import "packages/file-icons/styles/colors";
@import "packages/file-icons/styles/icons";
@import "packages/file-icons/styles/items";

.icon-file-text {
  // Database Icon
  &[data-name$=".psqlrc"]:before { .database-icon; }

  // Gear Icon
  &[data-name$=".agignore"]:before,
  &[data-name$=".hushlogin"]:before { .gear-icon; }

  // Heroku
  &[data-name^="Procfile"]:before { .heroku-icon; .medium-purple }

  // Javascript
  &[data-name$=".spec.js"]:before { .js-icon; .light-green; }

  // Ruby
  &[data-name$=".railsrc"]:before { .ruby-icon; }

  // Shell
  &[data-name$=".secrets"]:before { .terminal-icon; }
}
