@import 'syntax';
@import 'syntax-variables';

// Make title bar darker.
.title-bar {
  background-color: inherit;
}

// Color modified and added line numbers.
atom-text-editor .gutter .line-number {
  &.git-line-added {
    color: @syntax-color-added;
  }

  &.git-line-modified {
    color: @syntax-color-modified;
  }
}

// Adjust bracket matcher line numbers and background.
atom-text-editor .line-number.bracket-matcher {
  color: #282c34;
  background-color: #636d83;
}

// Hide scrollbar.
atom-text-editor .vertical-scrollbar,
atom-text-editor .horizontal-scrollbar {
  display: none;
}

// Hide minimap background.
atom-text-editor atom-text-editor-minimap {
  background: transparent;
}

// GitHub
.github-HunkView-line {
  &.is-added .github-HunkView-lineContent {
    color: @syntax-color-added;
    background-color: shade(@syntax-color-added, 60%);
  }

  &.is-deleted .github-HunkView-lineContent {
    color: @syntax-color-removed;
    background-color: shade(@syntax-color-removed, 60%);
  }
}

.github-FilePatchView:focus .github-HunkView-line {
  &.is-added.is-selected .github-HunkView-lineContent {
    color: tint(@syntax-color-added, 25%);
    background-color: shade(@syntax-color-added, 50%);
  }

  &.is-deleted.is-selected .github-HunkView-lineContent {
    color: tint(@syntax-color-removed, 25%);
    background-color: shade(@syntax-color-removed, 50%);
  }
}

// ======
// Syntax
// ======
.syntax--source.syntax--js {
  .syntax--variable {
    &.syntax--readwrite {
      color: @syntax-text-color;
    }

    &.syntax--static {
      color: @syntax-color-constant;
    }
  }
}

// =====
// Icons
// =====
.icon {
  @import 'packages/file-icons/styles/colours';
  @import 'packages/file-icons/styles/icons';

  &[data-name$='.psqlrc']:before {
    .octicons;
    content: '\f096';
  }

  // Heroku
  &[data-name^='Procfile']:before {
    .devicons;
    color: @medium-purple;
    content: '\e67b';
  }

  // JavaScript
  &[data-name$='.spec.js']:before,
  &[data-name$='.test.js']:before {
    .fi;
    .test-file;
    content: '\ea64';
  }

  &[data-name$='.spec.jsx']:before,
  &[data-name$='.test.jsx']:before {
    .fi;
    .test-file;
    content: '\ea67';
  }

  // Ruby
  &[data-name$='.railsrc']:before {
    .devicons;
    color: @red;
    content: '\e63b';
  }

  // Shell
  &[data-name$='.secrets']:before {
    .fi;
    content: '\f0c8';
    font-size: 14px;
    top: 2px;
  }
}
