Host *
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

{{ onepasswordRead "op://Chezmoi/SSH Config/notesPlain" }}
