Host *
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}

{{ onepasswordRead "op://Chezmoi/ssh_config/notesPlain" }}
