#!/bin/bash
# chezmoi:template:left-delimiter="#{{" right-delimiter="}}"
set -eufo pipefail

#{{ template "homebrew" . }}

if [ ! "$(command -v brew)" ]; then
  echo "Install homebrew first! See: https://brew.sh"
  exit
fi

brew bundle --file=/dev/stdin <<EOF
#{{- range .packages.brews }}
brew #{{ . | quote }}
#{{- end }}

brew "keychain"

#{{- range .packages.casks }}
cask #{{ . | quote }}
#{{- end }}
EOF
