{{ template "homebrew" . }}

command -sq brew || exit

abbralias brewc "brew cleanup"
abbralias brewi "brew install"
abbralias brewl "brew list"
abbralias brews "brew search"
abbralias brewu "brew upgrade"
abbralias brewx "brew uninstall"
