"*":
  core:
    followSymlinks: true
    themes: [
      "unity-ui"
      "base16-tomorrow-dark-theme"
    ]
    destroyEmptyPanes: false
    disabledPackages: [
      "minimap"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 14
    showIndentGuide: true
    invisibles: {}
  "exception-reporting":
    userId: "b79bad53-b233-cbe4-cb63-b6fc98f94d50"
  "file-icons":
    forceShow: true
  "fuzzy-finder":
    ignoredNames: [
      "**/vendor/cache/*"
    ]
  metrics:
    userId: "8e7208e4b8bc82e2315cd4914081208b721197de"
  minimap:
    displayPluginsControls: false
    minimapScrollIndicator: false
    adjustMinimapWidthToSoftWrap: false
  "release-notes":
    viewedVersion: "0.94.0"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  linter:
    lintOnChange: false
