"*":
  core:
    followSymlinks: true
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    destroyEmptyPanes: false
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    fontSize: 14
    invisibles: {}
  "exception-reporting":
    userId: "b79bad53-b233-cbe4-cb63-b6fc98f94d50"
  "fuzzy-finder":
    ignoredNames: [
      "**/vendor/cache/*"
    ]
  metrics:
    userId: "8e7208e4b8bc82e2315cd4914081208b721197de"
  minimap:
    minimapScrollIndicator: false
    adjustMinimapWidthToSoftWrap: false
    displayPluginsControls: false
  "release-notes":
    viewedVersion: "0.94.0"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "symbols-tree-view":
    scrollAnimation: false
  "Remote-FTP":
    hideLocalWhenDisplayed: true
  react: {}
".makefile.source":
  editor:
    tabLength: 4
