'the-draconomicon':
  'title': 'the-draconomicon'
  'paths': [
    '/Users/griffin/dev/the-draconomicon/'
  ]
'tough-griff.github.io':
  'title': 'tough-griff.github.io'
  'paths': [
    '/Users/griffin/dev/tough-griff.github.io/'
  ]
'dotfiles':
  'title': 'dotfiles'
  'paths': [
    '/Users/griffin/dotfiles/'
  ]
