/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */
 @import "_file-icons";

.with-minimap {
  .vertical-scrollbar {
    opacity: 0;
    width: 0;
  }
}

.editor {
  .indent-guide {
    color: rgba(0, 0, 0, 0);
    position: relative;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1);
  }

  .wrap-guide{
    background-color: rgba(255, 255, 255, 0.1);
  }
}
