# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
export FORCE_COLOR=1
export GPG_TTY=$(tty)
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LESS='-FgimrSwX -z-4'
# {{ if eq .chezmoi.os "linux" -}}
# {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
export COLORTERM=truecolor
# {{   end -}}
# {{ end }}
